<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yoke.ego.common.mapper.AddressMapper">
  <resultMap id="BaseResultMap" type="com.yoke.ego.common.pojo.Address">
    <constructor>
      <idArg column="user_address_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_address_user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_address_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_address_street_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_address_id, user_address_user_id, user_tel, user_address_name, user_address_street_name
  </sql>
  <select id="selectByExample" parameterType="com.yoke.ego.common.pojo.AddressExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ego_user_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ego_user_address
    where user_address_id = #{userAddressId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ego_user_address
    where user_address_id = #{userAddressId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yoke.ego.common.pojo.AddressExample">
    delete from ego_user_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yoke.ego.common.pojo.Address">
    <selectKey keyProperty="userAddressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ego_user_address (user_address_user_id, user_tel, user_address_name, 
      user_address_street_name)
    values (#{userAddressUserId,jdbcType=BIGINT}, #{userTel,jdbcType=VARCHAR}, #{userAddressName,jdbcType=VARCHAR}, 
      #{userAddressStreetName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yoke.ego.common.pojo.Address">
    <selectKey keyProperty="userAddressId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ego_user_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userAddressUserId != null">
        user_address_user_id,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="userAddressName != null">
        user_address_name,
      </if>
      <if test="userAddressStreetName != null">
        user_address_street_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userAddressUserId != null">
        #{userAddressUserId,jdbcType=BIGINT},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userAddressName != null">
        #{userAddressName,jdbcType=VARCHAR},
      </if>
      <if test="userAddressStreetName != null">
        #{userAddressStreetName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yoke.ego.common.pojo.AddressExample" resultType="java.lang.Long">
    select count(*) from ego_user_address
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ego_user_address
    <set>
      <if test="record.userAddressId != null">
        user_address_id = #{record.userAddressId,jdbcType=BIGINT},
      </if>
      <if test="record.userAddressUserId != null">
        user_address_user_id = #{record.userAddressUserId,jdbcType=BIGINT},
      </if>
      <if test="record.userTel != null">
        user_tel = #{record.userTel,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddressName != null">
        user_address_name = #{record.userAddressName,jdbcType=VARCHAR},
      </if>
      <if test="record.userAddressStreetName != null">
        user_address_street_name = #{record.userAddressStreetName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ego_user_address
    set user_address_id = #{record.userAddressId,jdbcType=BIGINT},
      user_address_user_id = #{record.userAddressUserId,jdbcType=BIGINT},
      user_tel = #{record.userTel,jdbcType=VARCHAR},
      user_address_name = #{record.userAddressName,jdbcType=VARCHAR},
      user_address_street_name = #{record.userAddressStreetName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yoke.ego.common.pojo.Address">
    update ego_user_address
    <set>
      <if test="userAddressUserId != null">
        user_address_user_id = #{userAddressUserId,jdbcType=BIGINT},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userAddressName != null">
        user_address_name = #{userAddressName,jdbcType=VARCHAR},
      </if>
      <if test="userAddressStreetName != null">
        user_address_street_name = #{userAddressStreetName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_address_id = #{userAddressId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yoke.ego.common.pojo.Address">
    update ego_user_address
    set user_address_user_id = #{userAddressUserId,jdbcType=BIGINT},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_address_name = #{userAddressName,jdbcType=VARCHAR},
      user_address_street_name = #{userAddressStreetName,jdbcType=VARCHAR}
    where user_address_id = #{userAddressId,jdbcType=BIGINT}
  </update>
</mapper>